* {
    box-sizing: border-box;
  }
  
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.5rem;
    height: 7rem;
}

.hamburger-container {
    display: flex;
    flex-direction: row-reverse;
}

button { --grad: linear-gradient(to right bottom, var(--slist));
    display: grid; grid-auto-flow: column; grid-gap: .5em
    auto; border: solid .22em transparent; padding: 0.8em 1.25em;
    border-radius: 9em; background: var(--grad) border-box,
    linear-gradient(white 0 0), var(--grad) border-box;
    -webkit-background-clip: text, padding-box, border-box;
    background-clip: text, padding-box, border-box;
    -webkit-text-fill-color: black; font: 700 1.5em/ 1.25 ubntu,
    sans-serif; text-transform: capitalize; margin-top: 2rem; margin-bottom: 5rem;
}

.main {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.kaire {
    display: flex;
    flex-direction: column;
}



.desine {
    display: flex;
    flex-wrap: wrap;
}

.desine img {
    width: 30rem;
    margin: 2rem;
}

.desine1 img {
    width: 15rem;
    margin: -2rem;
    margin-top: 12rem;
    margin-left: 1rem;
}

.Launching-soon {
    color: rgb(235, 69, 226);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
}

.colorbg {
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    background-repeat: no-repeat;
    object-fit: none;
    margin-left: -1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colorbg h1 {
    font-weight: 500;
}

.companies img {
    padding: 3rem;
    width: 14rem;
}

.series {
    color: orange;
    font-size: 12px;
}

.topbid {
    font-size: 12px;
}

.bid {
    font-weight: 600;
    font-size: 18px;
}

.auction {
    margin-left: 2rem;
}

.auction-bid {
    display: inline-block;
    border-radius: 1rem;
    background-color:gainsboro;
    margin-bottom: 5rem;
    margin-right: 3rem;
}

.actioninfo {
    display: flex;
    flex-direction: row;
    margin-left: 0.9rem;
}

.actioninfo p {
    margin-bottom: 2px;
}

.auction h1 {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Dont-miss a {
    color: #444444;
}

.cardleft {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: start;  
}

.cardright {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.cards {
    display: flex;
    flex-direction: row;
}

.id {
    opacity: 0.6;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.border {
    border-bottom: solid 1px rgba(221, 221, 221, 0.5);
}

.main-inner {
    display: flex;
    height: 46rem;
    margin-left: 2rem;
}


.main1 {
    border-bottom: solid 1px rgba(221, 221, 221, 0.5);
}

.kaire h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 900;
    margin-top: none;
}

.a1 {
    text-transform: none;
    text-decoration: solid;
    color: black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58.09px;
    width: 274px;
    height: 116px;
    top: 191px;
    left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 6rem;
}

.bottom {
    padding: 2rem;
}

nav {
    display: flex;
    font-size: 1rem;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.footernav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50vw;
    margin-left: 50px;
    padding: 0;
  }
  .Endend {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

.about {
    margin-right: 3rem;
}

footer p, i, .about {
    opacity: 0.6;
}



.Dont-miss {
color: #555555;
width: 274px;
height: 120px;
top: 331px;
left: 32px;
font-size: 20px;
line-height: 30px;
font-family: Arial, Helvetica, sans-serif;
opacity: 0.7;
}

.a2 {
    margin-top: -0px;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 1rem;
  }
  
  footer img {
    width: 200px;
  }

  h3 {
    font-size: 1rem;
  }
  
  .footerlist {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .footerlist a {
    text-decoration: none;
  }
  
  .footerlist .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  
  .footerlist .dzute div {
    width: 50%;
  }
  
  .footerlist .dzute h3 {
    margin: 0;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: grey;
  }
  
  .footerlist .list {
    width: 100%;
    line-height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  @media screen and (min-width: 900px) {}
    body {
      max-width: 900px;
      margin: auto;
      text-decoration: none;
    }       

    .companies {
        margin-top: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        gap: 1rem;
      }

      .companies img {
        width: 80%;
      }